DATABASE_NAME=""
DATABASE_USER=""
DATABASE_PASSWORD=""
DATABASE_HOST=""
DATABASE_PORT=""
DATABASE_INTERFACE_BEARER_TOKEN=""
SETTINGS_DEBUG=""
S3_BASE_URL=""
S3_MEDIA_URL=""
S3_BUCKET_NAME=""
DJANGO_SETTINGS_MODULE=""
GOOGLE_APPLICATION_CREDENTIALS=""
DEFAULT_LOG_LEVEL=""
AWS_REGION=""
SG_REPO_AWS_ACCESS_KEY_ID=""
SG_REPO_AWS_SECRET_ACCESS_KEY=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
LLAMA_BASE_URL=""
LLAMA_HF_TOKEN=""
LLAMAFINETUNE_BASE_URL=""
BHASHANI_API_KEY=""
BHASHANI_USER_ID=""
BHASHANI_AUTHORIZATION=""
BHASHANI_PIPELINE_ID=""
BHASHANI_BASE_URL=""
SARVAM_API_KEY=""
SHIKSHALOKAM_BASE_URL=""
GOTENBERG_URL=""
RECOMMENDATION_BASE_URL=""
CORS_ALLOWED_ORIGINS=""
ALLOWED_HOSTS=""
VECTOR_DB_BASE_URL=""
LLM_RETRY_NUMBER=""
LOCATION_AUTH=""
LOCATION_BASE_URL=""
LOCATION_SUB_URL=""
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_HOST=""
ELEVATE_BASE_URL=""
SSO_REROUTE_URL=""
METABASE_URL=""
METABASE_EMAIL=""
METABASE_PASSWORD=""
MEDIA_BASE_URL=""
STORAGE_CLOUD_PROVIDER=""
DJANGO_SECRET_KEY=""
OPENAI_API_KEY=""
ANTHROPIC_API_KEY=""
SHOW_GENERATE_BOT=""
LLM_GATEWAY_BASE_URL=""
LLM_GATEWAY_API_KEY=""
LLM_GATEWAY_TENANT_ID=""